<nav class="c-breadCrumb">
    <ul class="c-breadCrumb__body">
        <li class="c-breadCrumb__item"><a href="/" class="c-breadCrumb__link">HOME</a><span class="c-breadCrumb__arrow">></span></li>
        <li class="c-breadCrumb__item is-page"><%= pagename %></li>
    </ul>
</nav>