<aside class="l-aside c-exp">
        <div class="l-inner">
            <header class="c-heading__exp g-rows">
                <h2 class="g-colT__10"><span>EXAMPLE OF WORKS 事業事例</span></h2><a class="g-colT__2 c-button__more" href="/example/"><span>一覧を見る ＞</span></a>
            </header>
            <ul class="c-expSilde">
                <li class="c-expSilde__item"><a data-lightbox="image-1" href="/img/common/img_example_01.jpg"><img src="/img/common/img_example_01.jpg" alt="事業事例 物件イメージ"></a></li>
                <li class="c-expSilde__item"><a data-lightbox="image-2" href="/img/common/img_example_02.jpg"><img src="/img/common/img_example_02.jpg" alt="事業事例 物件イメージ"></a></li>
                <li class="c-expSilde__item"><a data-lightbox="image-3" href="/img/common/img_example_03.jpg"><img src="/img/common/img_example_03.jpg" alt="事業事例 物件イメージ"></a></li>
                <li class="c-expSilde__item"><a data-lightbox="image-4" href="/img/common/img_example_04.jpg"><img src="/img/common/img_example_04.jpg" alt="事業事例 物件イメージ"></a></li>
                <li class="c-expSilde__item"><a data-lightbox="image-5" href="/img/common/img_example_01.jpg"><img src="/img/common/img_example_01.jpg" alt="事業事例 物件イメージ"></a></li>
                <li class="c-expSilde__item"><a data-lightbox="image-6" href="/img/common/img_example_02.jpg"><img src="/img/common/img_example_02.jpg" alt="事業事例 物件イメージ"></a></li>
                <li class="c-expSilde__item"><a data-lightbox="image-7" href="/img/common/img_example_03.jpg"><img src="/img/common/img_example_03.jpg" alt="事業事例 物件イメージ"></a></li>
                <li class="c-expSilde__item"><a data-lightbox="image-8" href="/img/common/img_example_04.jpg"><img src="/img/common/img_example_04.jpg" alt="事業事例 物件イメージ"></a></li>
            </ul>
        </div>
        <p class="c-exp__bg u-img__max">
            <img src="/img/common/bg_example.jpg" alt="">
        </p>        
    </aside>