<footer class="l-footer">
    <div class="l-inner g-rows">
        <nav class="c-footerNav g-col__10" role="navigation">
            <ul class="c-footerNav__body">
                <li class="c-footerNav__item" role="menuitem"><a href="/mission/">ミッション</a></li>
                <li class="c-footerNav__item" role="menuitem"><a href="/business/">事業内容</a></li>
                <li class="c-footerNav__item" role="menuitem"><a href="/example/">事業事例</a></li>
                <li class="c-footerNav__item" role="menuitem"><a href="/company/">会社概要</a></li>
                <li class="c-footerNav__item" role="menuitem"><a href="/contact/">お問い合わせ</a></li>
            </ul>
        </nav>
        <p class="g-col__2 u-right">
            <a class="c-button__toTop" href="#">TOP PAGE</a>
        </p>
    </div>
    <div class="c-footer__bottom">
        <p class="c-footer__bottom--body">
            Copyright(c) 2013-2015 BUSH CLOFIED All rights reserved.
        </p>
    </div>
</footer>