    <aside class="l-aside c-contact">
        <div class="l-inner">
            <header class="c-heading__contact">
                    <h2>まずはお気楽にお問い合わせください</h2>
            </header>
            <div class="g-rows c-contact__body">
                <div class="g-col__6">
                    <p class=" c-contact__tel">
                        <span>TEL.</span>03-6455-3994
                    </p>
                </div>
                <div class="g-col__6">
                    <p class=" c-contact__fax">
                        <span>FAX.</span>03-6455-3995
                    </p>
                </div>
            </div>
            <ul class="c-button__contact u-center">
            <li>
                    <a href="/contact/">webからのお問い合わせはこちら</a>
                </li>
            </ul>
        </div>
    </aside>