<meta charset="UTF-8">
		<meta name="author" content="BushClofied Co.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="keywords" content="bush clofied,ブッシュクロフィード,代官山,恵比寿,物件情報,賃貸,投資,仲介,戸建分譲,マンション分譲,開発コンサルタント">
		<meta name="description" content=<%= pageDesc %>>

		<meta property="og:url" content="/">	
		<meta property="og:image" content="">
		<meta property="og:type" content="">
		<meta property="og:title" content=<%= pageDesc %>>
		<meta property="og:site_name" content="株式会社ブッシュクロフィード">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/main.js"></script>
		<!--[if lt IE 9]>
			<script src="/js/lib/html5shiv.min.js"></script>
		<![endif]-->
		<title><% if(ispage == 0){ %>不動産のプロ集団【BUSH CLOFIED】<% }else{ %><%= pageTitle %> | 不動産のプロ集団【BUSH CLOFIED】<% } %></title>