<header id="header" class="l-header">
	<div class="l-inner g-rows">
		<% if(ispage == 0){ %><h1 class="c-logo g-col__4"><a href="/">BUSH CLOFIED<span>不動産のプロ集団 株式会社ブッシュクロフィード</span></a></h1>
    <% }else{ %><p class="c-logo g-col__4"><a href="/">BUSH CLOFIED<span>不動産のプロ集団 株式会社ブッシュクロフィード</span></a></p><% } %>
	  <nav class="c-gloNav g-col__8">
		  <ul class="c-gloNav__body">
		      <li class="<% if(ispage==1){%>c-gloNav__item--mission is-current<% } else { %>c-gloNav__item--mission<% } %>"><a href="/mission/">MISSION<span>ミッション</span></a></li><li class="<% if(ispage==2){%>c-gloNav__item--business is-current<% } else { %>c-gloNav__item--business<% } %>"><a href="/business/">BUSINESS<span>事業案内</span></a></li><li class="<% if(ispage==3){%>c-gloNav__item--works is-current<% } else { %>c-gloNav__item--works<% } %>"><a href="/example/">WORKS<span>事業事例</span></a></li><li class="<% if(ispage==4){%>c-gloNav__item--company is-current<% } else { %>c-gloNav__item--company<% } %>"><a href="/company/">COMPANY<span>会社概要</span></a></li><li class="<% if(ispage==5){%>c-gloNav__item--contact is-current<% } else { %>c-gloNav__item--contact<% } %>"><a href="/contact/"><span>CONTACT</span></a></li>
		  </ul>
		</nav>
	</div>
</header>
          
