<% var pageTitle="", pageDesc="都心を中心にマンション開発・不動産再生・住宅分譲のことならブッシュクロフィード", ispage=0 %>
<!DOCTYPE html>
<html lang="ja">
	<head>
		<% include ./_inc/_head %>
	</head>
<body>
	<% include ./_inc/_header %>
	<main class="l-main" role="main">
		<p class="u-img__max">
			<img src="/img/top/img_keyvisual.jpg" alt="この世に存在するすべての不動産と向き合い「住」に関わるすべての人々の暮らしと人生を豊かにする">
		</p>
		<div class="p-newsTicker">
			<dl class="p-newsTicker__body">
				<dt class="p-newsTicker__title">NEWS</dt>
				<dd class="p-newsTicker__list">
					<ul class="p-newsTicker__list--inner">
						<li class="p-newsTicker__item"><span class="c-data">2015/4/1</span>サイトリニューアルのお知らせ<i class="c-icn__new">new</i>	</li>
						<li class="p-newsTicker__item"><a href="http://bush-clofied.co.jp/admin/files/%E3%80%90%E3%82%A8%E3%83%BC%E3%82%A2%E3%83%BC%E3%83%AB%E3%82%A2%E3%82%A4%E3%83%93%E3%83%AB%E3%80%91%E8%B2%A9%E5%A3%B2%E7%B5%82%E4%BA%86%E3%81%AE%E3%81%8A%E7%9F%A5%E3%82%89%E3%81%9B.pdf"><span class="c-data">2015/3/31</span>【エーアールアイビル】販売終了のお知らせ<i class="c-icn__new">new</i></a></li>
						<li class="p-newsTicker__item"><a href="http://bush-clofied.co.jp/admin/files/%E3%80%90%E6%9F%BF%E3%81%AE%E6%9C%A8%E5%9D%82%E3%83%93%E3%83%AB%E3%80%91%E7%9B%AE%E9%BB%92%E5%8C%BA%E6%9F%BF%E3%81%AE%E6%9C%A8%E5%9D%82%E5%8F%96%E5%BE%97%E5%8F%8A%E3%81%B3%E8%B2%A9%E5%A3%B2%E9%96%8B%E5%A7%8B%E3%81%AE%E3%81%8A%E7%9F%A5%E3%82%89%E3%81%9B.pdf"><span class="c-data">2015/3/13</span>【柿の木坂ビル】取得及び販売開始のお知らせ<i class="c-icn__new">new</i></a></li>
					</ul>
				</dd>
			</dl>
		</div>
		
	</main>

	<% include ./_inc/_exampleSlide %>
	<% include ./_inc/_footContact %>
	<% include ./_inc/_foot %>
</body>
</html>